<style type='text/css'>
hr { width: 650px; margin-left: 0; }
h2,h3 { color: purple; }
h4 { color: #000033; }
#profiles,#contacts,#connections,#status,#updates { float: left; padding-right: 3px; padding-left: 3px;
border: 1px solid black; height: 255px; width: 150px; }
textarea { background-color: #CCCCCC; }

</style>

